---
---

@import "{{ site.theme }}";

body {
    margin: 0;
    font-family: -apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif;
    line-height: 1.6;
}
.content {
    color: #333;
    font-size: 17px;
    text-align: justify;
}

.content em {
    color: rgb(136, 136, 136);
    font-style: normal;
}

.content blockquote {
    font-style: normal;
}

.content p {
    margin-bottom: 1.6em;
}

.index li{
    font-size: 17px;
    list-style-type: cjk-ideographic;
}

.index div {
    padding: 4px 0px;
}

.feed {
    float: right;
    padding: 1em;
    background: url("/assets/feed.png") no-repeat 50% 50%;
}

.branding {
    color: #38800a;
}

.date {
    float: left;
}

.counter {
    float: right;
}

.clear {
    clear: both;
}

div#disqus_thread {
    padding: 0px 10px;
    background: whitesmoke;
}

a, a:hover, a:focus {
    color: #267CB9;
    font-weight: inherit;
}
