---
---

@import "{{ site.theme }}";

:root {
    color-scheme: light;
    --content-color: rgba(0,0,0,0.8);
    --sub-content-color:rgba(0,0,0,0.5);
    --background-color: rgb(255,255,255);
    --sub-background-color: rgb(245,245,245);
    --brand-color: #38800a;
    --link-color: #576b95;
    --invert-when-dark-filter: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --content-color: rgba(255,255,255,0.8);
        --sub-content-color: rgba(255,255,255,0.5);
        --background-color: rgb(35,35,35);
        --sub-background-color: rgb(45,45,45);
        --brand-color: rgb(81,196,113);
        --link-color: #7d90a9;
        --invert-when-dark-filter: invert(86.1%) hue-rotate(180deg);
    }
}

body {
    background-color: var(--background-color);
    color: var(--sub-content-color);
    margin: 0;
    font-family: -apple-system-font,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--content-color);
}

.content {
    color: var(--content-color);
    font-size: 17px;
    text-align: left;
}

.content p {
    margin-bottom: 1.6em;
}

strong {
    color: var(--content-color);
}

em, blockquote {
    color: var(--sub-content-color);
    font-style: normal;
}

blockquote {
    border-left: 3px solid var(--sub-background-color);
}

code, pre {
    color: var(--content-color);
    border: none;
}

img {
    filter: var(--invert-when-dark-filter);
}

.highlight {
    background-color: var(--sub-background-color);
}

.index ol {
    font-size: 17px;
    list-style-type: cjk-ideographic;
    padding-left: 3em;
}

.index div {
    padding: 4px 0px;
}

.feed {
    float: right;
    padding: 1em;
    background: url("/assets/feed.png") no-repeat 50% 50%;
}

.branding {
    color: var(--brand-color);
}

.date {
    float: left;
}

.counter {
    float: right;
}

.clear {
    clear: both;
}

div#disqus_thread {
    padding: 0px 10px;
    background: var(--sub-background-color);
}

div#chart {
    height: 400px;
    filter: var(--invert-when-dark-filter);
}

a, a:hover, a:focus {
    color: var(--link-color);
    font-weight: inherit;
}
